@font-face{
    font-family:Lesson Font;
    src: url(../fonts/GothamProMedium.ttf)
}

.fancy-background {
    height: 100vh;
    width: 100vw;
    background-image: url("../../src/assets/login-background.png") ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.reset-password-card {
    width: 37vw;
    height: min-content;
    margin: auto;
    box-shadow: 9px 3px 5px 2px rgba(0, 0, 0, 0.36) !important;
    padding: 20px;
    border-radius: 20px !important;
}

.reset-password-card-title {
    font-size: 2rem !important;
    color: white;
    padding: 2vh 2vh 3vh 2vh !important;
}

.text-align-center {
    text-align: center;
}

.form-wrapper {
    display: inline-flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);

    margin: auto;
    border-radius: 5%;

    min-width: 70vw;
    max-width: 70vw;
    min-height: 75vh;
    z-index: 1;
}

.normal-word-break {
    word-break: keep-all;
}

@media only screen and (max-width: 750px) {
    .reset-password-card {
        width: 90vw;
    }
}